{% extends 'base.html.twig' %}

{% block title %}Auto Übersicht{% endblock %}

{% block body %}
<h2>Auto Übersicht</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Bezeichnung</th>
      <th scope="col">Kennzeichen</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for car in cars %}
    <tr>
      <th scope="col">{{ car.description}}</th>
      <th scope="col">{{ car.plate}}</th>
      <th><a href="{{path('app_car_update', {'id': car.id}) }}">Bearbeiten</a> |
      <a href="{{path('app_car_delete', {'id': car.id}) }}" onclick="return confirm('Soll das Auto wirklich gelöscht werden?')">Löschen</a>
      </th>
    </tr>
  {% endfor %}
  </tbody>
</table>  

{% endblock %}
